body{
    margin: 0;
    padding: 0;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    width: 80%;
    margin: auto;
}
nav h5{
    font-size: 28px;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav button{
    background-color: white;
    color: black;
    padding: 10px 20px;
    
    border-radius: 5px;
    font-size: 25px;
}
.hero_section{
background-image: url(./img/Hero-bg.png);
}
.hero_content{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;    
    height: 600px;          
    text-align: center;   
    padding: 50px 0px;
}
.hero_content h4{
font-size: 60px;
font-weight:bolder;
word-spacing: 20px;
margin-bottom: 20px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero_content p{
    color: rgb(115, 117, 117);
    font-size: 25px;
    font: bold;
    margin: 0 250px;
    margin-bottom: 20px;
}
.hero_content button{
    background-color: black;
    color: white;
    padding: 20px 30px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 25px;

}

.development{
    display: flex;
    /* flex-direction: column;  */
    justify-content: center;
    align-items: center;    
    /* height: 600px;           */
    text-align: center;   
    
}
.development h4{
    font-size: 60px;
    font-weight:bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
    }
    .development p{
        color: rgb(115, 117, 117);
        font-size: 25px;
        font: bold;
        margin: 0 200px;
        margin-bottom: 20px;
    }

    .card-main1{
        display: flex;
        justify-content: center;
        align-items: center;    
        text-align: center;  
        gap: 250px;
        padding: 60px 0px;
    }
    .card1{
        text-align: left;
        font-size: 24px;
    }
    .card1 p{
        font-size: 20px;
    }
    .card1 button{
        background-color: white;
        color: black;
        border-radius: 10px;
        padding: 20px 30px;
        font-size: 20px;
    }
.card-main2{
    display: flex;
    justify-content: center;
    align-items: center;    
    text-align: center;  
    gap: 50px;
    width: 88%;
    padding-bottom: 60px;
   
}
.extra{
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
}
    
.targetbox{
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 20px;
    padding-bottom: 60px;
}
.col1{
    background-color: #FF4C1E1A;
    width: 300px;
    padding: 50px;
    border-radius: 10px;
}
.col2{
    background-color: #004CE81A;
    width: 300px;
    padding: 50px;
    border-radius: 10px;
}
.col3{
    background-color: #FFDF001A;
    width: 300px;
    padding: 50px;
    border-radius: 10px;
}
.targetbox h6{
    font-weight: bold;
    font-size: 25px;
    padding-top: 20px;
    margin: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.targetbox p{
    font-size: 18px;
    margin: 10px;
}
.targetbox a{
    font-size: 18px;
    margin: 10px;
    color: black;
}
.support {
    position: relative;
    width: 71%;
    margin: auto;
    background-image: url(./img/handshake.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    z-index: 1; 
    padding: 75px;
    border-radius: 10px;
    overflow: hidden;
}
.support::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 2; 
    pointer-events: none;
}
.support-contain {
    position: relative;
    z-index: 3; 
}

.support-contain h2 {
    font-size: 35px;
    font-weight: bold;
    color: white !important; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-family: "new"; */

}
.support-contain p {
    font-size: 20px;
    color: white !important; 
    margin: 0 100px;
    padding-bottom: 15px;
    line-height: 29px;
}
.input input{
    padding: 13px 180px 13px 10px;
    border-radius: 10px;

    font-size: 18px;
}
.input {
    text-align: center;
}
.input button{
    padding: 13px 50px 13px 10px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}
/* footer section */
.fsection{
    background-color: #0D13210D;
}
.fbox{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    text-align: center;  
    padding: 
    20px 0px;
    font-size: 20px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.f1box{
    margin-left: 150px;
}
.f2box{
    margin-right: 150px;
}
.img-gap{
    padding: 0px 10px;
}

    