/* Basic  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #1a1a1a, #000);
    color: white;
}

header {
    background: linear-gradient(to top, #1a1a1a, #000);
    padding: 20px 50px 0px 110px;

}

/* Nav Bar */
.topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

}

/* Logo  */
.topnav .logo {
    font-size: 24px;
    font-weight: bold;
    color: #ff4d4d;
    text-decoration: none;
}

/* Menu Styling */
.menu {
    display: flex;
    background: linear-gradient(to bottom, #1a1a1a, #000);
    border: 1px solid #333;
    padding: 5px;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

/* Active menu*/
.menu a.active {
    background-color: #ff4d4d;
    color: white;
}


/* Mobile Menu Icon */
.topnav .icon {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

/* Responsive  */
@media screen and (max-width: 600px) {
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #000;
        padding: 10px 0;
        position: absolute;
        top: 60px;
        right: 0;
    }

    /* menu toggled */
    .menu.show {
        display: flex;
    }

    /* mobile */
    .topnav .icon {
        display: block;
    }

    /* Adjust menu mobile */
    .menu a {
        margin: 5px 0;
        text-align: center;
    }
}

/* 2nd  section code here */

.hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    background: linear-gradient(to bottom, #1a1a1a, #000);
    flex-wrap: wrap;

}

@media screen and (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        align-items: center;
    }


}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size: 48px;
    line-height: 1.2;
}

.hero-content h1 {
    font-family: 'Times New Roman', serif;
    font-style: italic;
    color: #ffffff;
}

.italic {
    font-family: fantasy;

}

.description {
    font-size: 18px;
    color: #ccc;
    margin: 20px 0;
    max-width: 80%;
}

.cta-buttons {
    display: flex;
    gap: 25px;
}

.btn {
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s;
}

.btn.primary {
    background-color: #ff4d4d;
    color: white;
    font-weight: bold;
}

.btn.secondary {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.btn.primary:hover {
    background-color: #e63e3e;
}

.btn.secondary:hover {
    background-color: white;
    color: #000;
}

/* Hero Image Section */
.hero-image {
    position: relative;
    max-width: 50%;
}

.hero-image img {
    width: 100%;
    border-radius: 10px;
}

.overlay-box {
    position: absolute;
    color: white;
    background-color: rgba(50, 50, 50, 0.6);
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.overlay-box span {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.overlay-box p {
    font-size: 14px;
    margin-top: 5px;
    color: #ccc;
}

/* position of overlay boxes */
.overlay-box.top {
    top: 20%;
    left: 51%;
}

.overlay-box.bottom {
    bottom: 10%;

}

/* 3rd section code */
.habits-section {
    text-align: center;
    padding: 40px;
}

.habits-section h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.section-description {
    font-size: 16px;
    color: #ccc;
    margin-bottom: 40px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.habits-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.habit-item {
    max-width: 260px;
    text-align: center;
}

.habit-item img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 3px solid #333;
}

.habit-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.habit-item p {
    font-size: 14px;
    color: #aaa;
    line-height: 1.4;
}

/* Responsive  */
@media screen and (max-width: 768px) {
    .habits-container {
        flex-direction: column;
        align-items: center;
    }

    .habit-item {
        max-width: 200px;
        margin-bottom: 20px;
    }
}

/* 
4th  */
.run-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    background-color: #161616;
    flex-wrap: wrap;

}

@media screen and (max-width: 768px) {
    .run-section {
        flex-direction: column;
        align-items: center;
    }

    .run-image {
        margin-top: 10px;
        max-width: 600px;
    }


}

.btn-2nd {
    padding: 12px 60px;
    font-size: 18px;
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s;
    margin-top: 5px;
}

.btn-2nd.primary-2nd {
    background-color: #ff4d4d;
    color: white;
    font-weight: bold;
    align-items: center;
}

.run-image {
    position: relative;
    max-width: 40%;
}

.run-image img {
    width: 100%;
    border-radius: 10px;
}

/* 5th  */

.bmi-section {
    display: flex;
    justify-content: space-around;
    background-color: #1b1b1b;
    padding: 40px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .bmi-section {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

}


.bmi-chart,
.bmi-calculator {
    /* background-color: #2a2a2a; */
    padding: 20px;
    border-radius: 10px;
    width: 400px;
}

.bmi-chart h2,
.bmi-calculator h2 {
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

.bmi-chart table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.bmi-chart table th,
.bmi-chart table td {
    padding: 10px;
    border: 1px solid #333;
    color: #aaa;
    font-size: 0.9em;
}

.bmi-calculator p {
    font-size: 0.9em;
    color: #aaaaaa;
    margin-bottom: 20px;
    text-align: center;
}

.bmi-calculator form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-row {
    display: flex;
    gap: 10px;
}

.input-row input,
.input-row select {
    padding: 10px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #aaa;
    width: 100%;
    font-size: 0.9em;
}

button {
    padding: 10px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #d13a2c;
}

/* 
6th section */
.team-section {
    text-align: center;
    margin: auto;



}

.team-section h1 {
    font-size: 3em;
    margin-bottom: 10px;
    padding-top: 50px;
}

.team-description {
    font-size: 1em;
    color: #aaaaaa;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1280px;
    margin: auto;
}

@media (max-width: 768px) {

    /* Mobile view */
    .team-grid {
        grid-template-columns: 1fr;
        width: 120px;

    }
}

.team-member1 {
    background: url(./images/trainer1.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 400px;
    width: 400px;

}

@media (max-width: 768px) {

    /* Mobile view */
    .team-member1id {
        background: url(./images/trainer1.png);
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        height: 400px;
        width: 200px;
    }
}

.team-member2 {
    background: url(./images/trainer2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 400px;
}

.team-member3 {
    background: url(./images/trainer3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 400px;
}

.team-member4 {
    background: url(./images/trainer4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 400px;
}

.team-member5 {
    background: url(./images/trainer5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 400px;
}

.team-member6 {
    background: url(./images/trainer6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 400px;
}

.team-grid {
    position: relative;
}

.team-new1 {
    position: absolute;
    top: 40%;
    left: 10px;
}

.team-new2 {
    position: absolute;
    top: 40%;

}

.team-new3 {
    position: absolute;
    top: 40%;

}

.team-new4 {
    position: absolute;
    top: 90%;

}

.team-new5 {
    position: absolute;
    top: 90%;

}

.team-new6 {
    position: absolute;
    top: 90%;

}


.team-member {
    background-color: #222;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.team-member img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    height: auto;
}

.team-member h3 {
    font-size: 1.2em;
    margin: 10px 0 5px;
}

.team-member p {
    font-size: 0.9em;
    color: #aaaaaa;
}

/* footer */

.footer-section {
    background-color: #1b1b1b;
    padding: 40px 20px;
    width: 100%;
    color: #ccc;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.footer-left {
    max-width: 300px;
}

.footer-logo {
    font-size: 3em;
    color: #e74c3c;
    margin-bottom: 10px;
}

.footer-left p {
    font-size: 0.9em;
    line-height: 1.6;
}

.footer-links {
    display: flex;
    gap: 40px;
}

.footer-column h3 {
    font-size: 1.4em;
    color: #fff;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: #aaaaaa;
    text-decoration: none;
    font-size: 0.9em;
}

.footer-column ul li a:hover {
    color: #fff;
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #333;
    padding-top: 10px;
    text-align: center;
}

.footer-bottom p {
    font-size: 0.8em;
    color: #aaaaaa;
    padding-top: 10px;
}

@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}